@import "tailwindcss";
@plugin "daisyui";
@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glow-bg {
  background: linear-gradient(
    120deg,
    rgba(99, 102, 241, 0.25),
    rgba(236, 72, 153, 0.25),
    rgba(34, 211, 238, 0.25)
  );
  background-size: 300% 300%;
  animation: glow 10s ease infinite;
}
